# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

**/build/
**/.idea
**/.gradle
**/src/main/webapp/WEB-INF/views/spring/resources/
gradlew
gradlew.bat
settings.gradle
usermanagement/gradle